.firstline {
    display: flex;
    background: url(106006738_318443842497709_5430512476282787919_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /*width: 100%;*/
    height: 105vh;
    /*height: 120vh;*/
    justify-content: center;
}
.titlebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 6vw;
    font-weight: bold;
    text-decoration: underline;
}
.disband {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 2vw;
}
.about-all {
    font-family:sans-serif;
}

.aboutdv-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#aboutdv {
    color: rgb(0,0,0);
    font-family: sans-serif;
}
#aboutdv:hover {
    color: blue;
    transition: all 300ms ease-in-out;
}
#aboutdv:visited {
    color: red;
    transition: all 300ms ease-in-out;
}
#aboutdv:visited:hover {
    color: blue;
    transition: all 300ms ease-in-out;
}
.title {
    font-family: sans-serif;
    font-size: 15px;
}
.para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.noh {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.nafis-img img{
    width: 30vw;
}
#nafis-default {
    font-family: sans-serif;
}
#nafis-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#nafis-para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.rafat-img img{
    width: 30vw;
}
#rafat-default {
    font-family: sans-serif;
}
#rafat-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#rafat-para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.srijon-img img{
    width: 30vw;
}
#srijon-default {
    font-family: sans-serif;
}
#srijon-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#srijon-para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#nafis-contact-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.nafis-contact-list {
    font-family: sans-serif;
    font-size: 16px;
}
#rafat-contact-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.rafat-contact-list {
    font-family: sans-serif;
    font-size: 16px;
}
#srijon-contact-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.srijon-contact-list {
    font-family: sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 480px){
    .firstline {
        width: 100%;
        height: 40vh;
    }
    .aboutdv{
        font-size: 10px;
    }
    .para{
        font-size: 3vw;
    }
    #nafis-para {
        font-size: 3vw;
    }
    #rafat-para {
        font-size: 3vw;
    }
    #srijon-para {
        font-size: 3vw;
    }
}
@media only screen and (max-width: 680px) {
    .firstline {
        width: 100%;
        height: 50vh;
    }
}
